version: "3.9"

services:
  fastapi:
    image: docker.io/tiangolo/uvicorn-gunicorn-fastapi:python3.11
    container_name: fastapi_app
    volumes:
      - ./app:/app
    ports:
      - "8000:80"
    depends_on:
      - db

  db:
    image: docker.io/mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

volumes:
  db_data:
